body {
  /* Fallback color while the app loads */
  background-color: var(--background);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 75px;
}

.App-logo {
  padding: 16px;
}

.App-header {}

.App-link {
  color: #61dafb;
}

/* The storm texture background canvas that gets created by useStormScene in App.tsx */
.App>canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
