body {
  /* Fallback color while the app loads */
  background-color: var(--background);
}

.App {
  padding-top: var(--appHeaderHeight);
  box-sizing: border-box;
}

.App-web {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-scrollArea {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--appHeaderHeight));
  overflow-y: auto;
}

.App-logo {
  padding: 16px;
}

.App-header {
}

.App-link {
  color: #61dafb;
}

/* The storm texture background canvas that gets created by useStormScene in App.tsx */
.App > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(var(--fg0rgb), 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(var(--fg0rgb), 0.6);
}
