.AppButton {
  background: none;
  border: none;

  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.AppButton.Contained {}

.AppButton.Contained.orangeRed {
  background-color: var(--orange-red);
}

.AppButton.Contained.charcoal {
  background-color: var(--charcoal);
}

.AppButton.Animated {
  position: relative;
}

.AppButton.Animated .Typography {
  position: relative;
  z-index: 1;
}

.AppButton.Animated canvas {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 0;
}
