.AppButton {
  background: none;
  border: none;

  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.AppButton.Contained {}

.AppButton.Contained.orangeRed {
  background-color: var(--orange-red);
}

.AppButton.Contained.charcoal {
  background-color: var(--charcoal);
}
