.AppButton {
  background: none;
  border: none;

  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

.AppButton.Contained {}

.AppButton.Contained.important0 {
  background-color: var(--important0);
}

.AppButton.Contained.fg1 {
  background-color: var(--fg1);
}

.AppButton.Animated {
  position: relative;
}

.AppButton.Animated .Typography {
  position: relative;
  z-index: 1;
}

.AppButton.Animated canvas {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 0;
}
