.App-header {
  position: fixed;
  top: 0;
  padding: 14px;
  height: var(--appHeaderHeight);
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.App-header a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.App-header .profile-icon {
  width: 36px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
}

.App-header .profile-icon img {
  border-radius: 50%;
  width: 100%;
}

.App-header .status-indicator {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.App.darkGPU .App-header {
  background: rgb(20, 9, 72);
  background: linear-gradient(
    180deg,
    rgba(20, 9, 72, 0.6) 0%,
    rgba(20, 9, 72, 0.2) 35%,
    rgba(20, 9, 72, 0) 100%
  );
  backdrop-filter: var(--backdropFilter);
}
