.App-header {
  position: fixed;
  top: 0;
  padding: 14px;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.App-header a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.App-header .profile-icon {
  width: 36px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
}

.App-header .profile-icon img {
  border-radius: 50%;
  width: 100%;
}

.App-header .status-indicator {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
