.MatchHistoryPreview {
  height: 66px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background-color: var(--fg1);
}

.App.darkGPU .MatchHistoryPreview {
  background-color: rgba(var(--fg0rgb), .1);
  backdrop-filter: var(--backdropFilter);
}

.MatchHistoryPreview-wl-tab {
  width: 6px;
  height: 100%;
}

.MatchHistoryPreview_Draw .MatchHistoryPreview-wl-tab {
  background-color: var(--text);
}

.MatchHistoryPreview_Victory .MatchHistoryPreview-wl-tab {
  background-color: var(--accent0);
}

.MatchHistoryPreview_Defeat .MatchHistoryPreview-wl-tab {
  background-color: var(--important4);
}

.MatchHistoryPreview-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.MatchHistoryPreview-details .Typography {
  text-align: center;
  width: 80px;
  white-space: nowrap;
}

.MatchHistoryPreview-details_outcome {}

.MatchHistoryPreview-champion-image {
  width: 66px;
}

.MatchHistoryPreview:not(:last-of-type) {
  margin-bottom: 8px;
}
