.MatchHistory {
  background: var(--fg0);
  border-radius: 5px;
  padding: 7px 7px 10px 7px;
  width: 100%;
}

.App.darkGPU .MatchHistory {
  background: rgba(var(--backgroundrgb), .1);
  backdrop-filter: var(--backdropFilter);
}
