.MatchHistory {
  background: var(--fg0);
  border-radius: 5px;
  padding: 7px 7px 10px 7px;
  width: 100%;
  box-sizing: border-box;
}

.App.darkGPU .MatchHistory {
  background: rgba(var(--backgroundrgb), 0.1);
  backdrop-filter: var(--backdropFilter);
}

.MatchHistory-top {
  display: flex;
}

.MatchHistory-recent-champions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 28px;
}

.MatchHistory-win-loss {
  width: 90px;
  margin-right: 32px;
  flex-shrink: 0;
}

.MatchHistory-win-loss-record {
  display: flex;
  justify-content: center;
}

.MatchHistory-win-loss-chart {
  position: relative;
}

.MatchHistory-win-loss-chart .win-loss-rate {
  position: absolute;
  top: 39%;
  left: 36%;
}

@media screen and (max-width: 56.25em) {
  .MatchHistory-recent-champions {
    grid-template-columns: 1fr;
    margin: auto;
  }
}
