.Profile {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  width: var(--appWidth);
  max-width: var(--appMaxWidth);
  margin: auto;
  box-sizing: border-box;
  margin-top: 32px;
}

.Profile-left {
  /* width: 156px; */
  width: 30%;
  padding-right: 6px;
  box-sizing: border-box;
}

.Profile-left > * {
  margin-bottom: 12px;
}

.Profile-right {
  width: 70%;
}

@media screen and (max-width: 37.5em) {
  .Profile {
    flex-direction: column;
    padding: 6px 6px;
    margin: auto;
    justify-content: center;
  }

  .Profile-left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 6px;
  }

  .Profile-UsernamePlate {
    margin-bottom: 12px;
  }

  .Profile-right {
    width: 100%;
  }
}
