.RankedBadge {
  background: linear-gradient(180deg, var(--background) 0%, var(--fg0) 100%),
    var(--fg0);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
}

.App.darkGPU .RankedBadge {
  background: linear-gradient(180deg,
      rgba(var(--backgroundrgb), 0.1) 0%,
      rgba(var(--fg0rgb), 0.1) 100%),
    rgba(var(--fg0rgb), 0.1);
  backdrop-filter: var(--backdropFilter);
}

.RankedBadge-emblem {
  width: 50%;
  min-width: 80px;
  margin: 14px 0;
}

.RankedBadge-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RankedBadge-queue {
  margin-bottom: 9px;
}

.RankedBadge-tier-rank {
  margin-bottom: 9px;
}

.RankedBadge-leaguePoints {
}
