.SearchInput {
  display: flex;
  align-items: center;
}

.SearchInput.variant-opaque {
  background-color: var(--fg1);
}

.SearchInput.variant-window {
  /* background-color: rgba(20, 9, 72, .8); */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(158, 175, 208, 0.3);
  border-radius: 9px;
}

.SearchInput-input {
  border: none;
  background-color: transparent;
  padding: 16px;
  color: var(--text);
  width: 100%;
}

.SearchInput-input::placeholder {
  opacity: 0.9;
  color: var(--text);
}

.SearchInput-submit {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding-right: 18px;
}
