.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 73px);
}

.Search-storm {
  margin-bottom: 4px;
}

.Search #Search-label {
  margin-bottom: 16px;
}

.Search-main {
  display: flex;
  flex-direction: column;
  width: 45vw;
}
