.Typography {
  margin: 0;
}

.Typography-text {
  color: var(--text);
}

.Typography-accent0 {
  color: var(--accent0);
}

.Typography-accent4 {
  color: var(--accent4);
}

.Typography-important4 {
  color: var(--important4);
}

.Typography.Typography-capitalize {
  text-transform: capitalize;
}

.Typography.Typography-header1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.Typography.Typography-header2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.Typography.Typography-header3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.Typography.Typography-paragraph {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.Typography.Typography-xs {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
