.UsernamePlate {
  background: linear-gradient(180deg, var(--background) 0%, var(--fg0) 100%),
    var(--fg0);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.App.darkGPU .UsernamePlate {
  background: linear-gradient(180deg, rgba(var(--backgroundrgb), .1) 0%, rgba(var(--fg0rgb), .1) 100%),
    rgba(var(--fg0rgb), .1);
  backdrop-filter: var(--backdropFilter);
}

.UsernamePlate img.profile-icon {
  border-radius: 50%;
  width: 36px;
  margin-right: 8px;
}
