.AnimatedSpinner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.AnimatedSpinner > div {
  animation: spin infinite 760ms linear;
  background: #91c4f2;
  height: 85px;
  width: 85px;
  border-radius: 5px;
  position: relative;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}

@media (prefers-reduced-motion: reduce) {
  .AnimatedSpinner > div {
    animation: spin infinite 20s linear;
  }
}

.AnimatedSpinner > div::before {
  content: ' ';
  background: #b3efb2;
  height: 25%;
  width: 25%;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 5px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 5;
  transform: translate(50%, 50%);
}

.AnimatedSpinner > div::after {
  content: ' ';
  background: #7d5ba6;
  height: 50%;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 5px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
