@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --rich-black: #001a23;
  --gunmetal: #183139;
  --charcoal: #2f484f;
  --eggshell: #e5ebef;
  --baby-blue: #91c4f2;
  --blizzard-blue: #bfedfb;
  --orange-red: #cf3737;
  --peach: #e28888;
  --granny-smith-apple: #B3EFB2;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--eggshell);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
