.UsernamePlate {
  background: linear-gradient(180deg, #2f484f 0%, #183139 100%), #183139;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.UsernamePlate img.profile-icon {
  border-radius: 50%;
  width: 36px;
  margin-right: 8px;
}